.chat {
  display: flex;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  height: 80vh;
  border: 1px solid var(--primary);
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.users {
  background-color: var(--primary-op20);
  flex-grow: 1;

  >div {
    padding: 5px 10px;
    color: var(--primary);

    &:nth-child(even) {
      background-color: var(--primary-op50);
      color: #fff;
    }
  }
}

.mein {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex-grow: 1;
  padding-top: 5px;
  overflow-y: scroll;

  >div {
    padding: 3px 15px;
    display: flex;
  }
}

.notMyMsg, .myMsg {
  >div {
    background-color: gray;
    padding: 12px;
  }
}

.myMsg {
  color: #fff;
  justify-content: right;
  >div {
    background-color: (var(--primary));
    border-radius: 5px 0 5px 5px;
  }
}

.notMyMsg {
  >div {
    background-color: var(--primary-op20);
    border-radius: 0 5px 5px 5px;
  }
}

.adminMsg {
  color: gray;
  justify-content: center;
  font-style: italic;

  span {
    font-weight: bold;
  }
}

.msgMeta {
  font-style: italic;
  font-size: 11px;
  color: rgb(180, 180, 180);
  display: flex;
  gap: 2px;

  span {
    font-style: normal;
  }

}

.titleLine {
  color: var(--primary);
  padding: 15px;
  background-color: var(--primary-op50);
}

.actions {
  display: flex;
  background-color: var(--primary-op80);
  padding: 15px;
  

  button {
    background-color: white;
    border: none;
    color: var(--primary-op80);
    font-size: 30px;
    &:hover {
      color: var(--primary)
    }

    &:disabled {
      color: var(--primary-op20);
    }
  }
}

.form {
  flex-grow: 1;
  display: flex;
}

.input {
  flex-grow: 1;
  display: flex;
  align-items: center;
  outline: none;
  padding: 5px;
  background-color: white;
}

