.Draggable {
    background-color: rgb(211, 211, 211);
    padding: 15px;
    max-width: 400px;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 15px;
}

.Card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        max-height: 300px;
    }
}