// @use '../../scss/variables/colors';

.DNDTabs {
	margin: 15px;
	text-align: center;
	> div {
		margin: auto;
		display: inline-block;

		>div {

			background-color: beige;
			border-radius: 5px;
			list-style: none;
			display: flex;
			gap: 25px;
			padding: 0;
			a {
				padding: 15px;
				color: black;
				border-radius: 5px;
				transition: all 0.3s ease;
				&:hover {
					background-color: darken(beige, 20%);
				}
			}
		}
	}
}
